#from,#to{
    width:95%;
    height: 50px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
	border-color:black;
	border-style: solid;
	margin-left:5%;
}


.label{
	margin-top:20%;
	margin-left:5%;
    color: #34495e;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}


.charts{
    width: 100%;
	height: 90vh;
}

#columnchart_material{
    position:relative;
    width: 98%;
    left:1%;
    height: 90vh;
    
}

#contain_chart{
    width:100%;
    height:100%;
   background-color: #fff;
}