
h1{
    text-align: center;
    font-weight: bold;
}

#LoginToping{
    font-size: 600%;
    height: auto;
    padding: 2%;
    text-align: left;
    margin-right: 26%; /*allign login */
    color: white;
}
.loginbox{
    background:#000;
    color:#fff;
    top: 50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right:10%;
    border-radius:10%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.loginbox #login{
  position: relative;
  height: 10%;
  width: 90%;

}
.profileIcon{
    width:25%;
    margin:1.5%;
    height: width(20%);
    border-radius: 50%;
    border-style: solid;
    border-width:5px;
    border-color: grey;
    position: absolute;
    transform: translate(0%, 0%);
    top: -25%;
}

.loginbox h2{
    top: 60%;
    margin: 0;
    padding: 0 0 2%;
    text-align: center;
    color: white;
    font-size: 200%;
}

.loginbox p{
    position: relative;
    margin: 1%;
    padding:  0;
    font-weight: bold;
    font-size: 300%;
}



.login input{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 100%;
    color:#fff;
    font-size: 150%;
}
.login input[type="text"]::placeholder, input[type="password"]::placeholder{
    font-size: 100%;
}
.login input[type="button"]{
    border:none;
    text-align: center;
    outline:none;
    width: 50%;
    height: 50%;
    background: #34495e;
    color: #fff;
    font-size: 250%;
    border-radius: 10%;
}

.login input[type="button"]:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;
}

 #forget{
   position:relative;
    text-decoration: none;
    font-size: 150%;
    /*line-height: 200%;*/
    color: #bdc3c7;
}

#forget:hover{
    color:#ffc107;
}
