
.header{
    font-size: 350%;
    text-align: center;
    color: #2a2b2dff;
    background-color: none;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0px 0px;
    list-style-type: none;
    text-align: center;
}
#column
{
    /*background: #2a2b2dff;*/
    background:#000;
    border: none;
    box-shadow: none;
    height:100%;
    width:100%;
}

.patient{
    width: 70%;
    height: 460px;
    border:none;
    outline: none;
    background:#000;
    /*background-color:#2a2b2dff;*/
    margin-bottom: 5%;/*space between the patients cards*/
    color:#fff;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.8s;
    padding: 20px 20px;
    margin-top: 2%;
    margin-left: 15%;
}

#p1{
    background-color:red;
    color: green;
}

.patient:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;
}


.profileIcon{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px);
}

#info{
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
    color: #fff;
    text-align: left;
}

hr{ 
    height: 1px;
    padding:1px;
   /* color:#fff;*/
    background-color: #fff;
    border: none;
  }

  .lab{
    margin-top:5%;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    width:100%;
    text-align:center;
}

.field{
    border:none;
    background: transparent;
    outline:none;
    color:#fff;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.field:hover{
    cursor: pointer;
}

.lab:hover{
    cursor: pointer;
}
