.btn:hover{
    transform: scale(1.1);
    color: #fff;
}

.btn
{
    color: #fff;
    border: none;
    outline:none;
    background: none;
    font-size: 500%;
    cursor: pointer;
    transition: 0.8s;
    overflow: hidden;
    border-radius:10px;
    width: 100%;
    height: 30vh;
}
.topBtn{
    width: 100%;
    background-color:#2a2b2dff;
    height:70px;
    font-size: 40px;
    padding: 0;
    border-radius:10px;
}

body{
    background-color: #bdc3c7;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    font-family: sans-serif;
}